.block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  width: 60%;
}

.header {
  width: 100%;
  font-size: 32px;
}

.accident_stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 45%;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  gap: 10px;
  min-height: 200px;
}

.stat_param {
  width: 100%;
  font-size: 20px;
}

.died {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  width: 45%;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  gap: 10px;
  min-height: 200px;
}

.died_header {
  width: 100%;
  font-size: 20px;
}

.died_amount {
  width: 100%;
  font-size: 64px;
}

.important_accidents_header {
  width: 100%;
  font-size: 32px;
}

.important_accidents {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  gap: 30px;
}

.list_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  font-size: 20px;
}

.header_element {
  flex: 1;
}

.element_description {
  flex: 2;
}

.element_address {
  flex: 2;
}

.list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list_item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.item_element {
  flex: 1;
}

.item_description {
  flex: 2;
}

.item_address {
  flex: 2;
}

.amount {
  display: block;
  width: 100%;
  font-size: 64px;
}

.warning {
  color: #FF3030;
}