.block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  width: calc(50% + 40px);
}

.header {
  width: 100%;
  font-size: 32px;
}

.label {
  width: 100%;
  font-size: 24px;
}

.select {
  width: 100%;
  border: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  color: #111111;
  font-size: 20px;
  cursor: pointer;
  font-family: 'TT Norms Pro';
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='35' height='20' viewBox='0 0 35 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.764299 0.764903C0.274881 1.25516 0 1.91959 0 2.61232C0 3.30505 0.274881 3.96948 0.764299 4.45974L15.5236 19.2341C16.0936 19.804 16.8636 20.059 17.6085 19.989C18.2835 19.989 18.956 19.7365 19.4685 19.2241L34.2353 4.45724C34.4777 4.2148 34.6701 3.92697 34.8013 3.61021C34.9325 3.29344 35 2.95394 35 2.61107C35 2.26821 34.9325 1.9287 34.8013 1.61193C34.6701 1.29517 34.4777 1.00735 34.2353 0.764903C33.9929 0.522461 33.705 0.330146 33.3883 0.198937C33.0715 0.0677283 32.732 0.000195488 32.3891 0.000195494C32.0463 0.000195501 31.7068 0.0677283 31.39 0.198937C31.0732 0.330146 30.7854 0.522461 30.543 0.764903L17.4935 13.8143L4.45413 0.764903C4.21197 0.52242 3.92438 0.330053 3.60782 0.198804C3.29125 0.0675545 2.95191 0 2.60922 0C2.26652 0 1.92718 0.0675545 1.61062 0.198804C1.29405 0.330053 1.00646 0.52242 0.764299 0.764903Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 95% center;
}

.flow {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  gap: 30px;
  width: 100%;
}

.flow_param {
  width: 100%;
  font-size: 32px;
}

.amount {
  font-size: 64px;
}