@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html {
  position: relative;
  min-height: 100%;
}

:root {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  
  color-scheme: dark;
  color: #111111;
  background-color: #F8F8F8;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(#f8f8f8, rgba(119, 79, 231, .2), rgba(107, 138, 240, .2), #f8f8f8);
}

option {
  font-family: "Nunito Sans", sans-serif;
}

#root {
  width: 100vw;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
